<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basilisk</title>
    <link rel="icon" type="image/ico" th:href="@{/favicon.ico}">
    <link rel="stylesheet" th:href="@{/resources/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/resources/css/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/resources/css/site.css}">
    <link rel="stylesheet" th:href="@{/resources/css/normalize.css}">
    <script th:src="@{/resources/js/jquery-3.6.0.js}"></script>
</head>
<body>
<div  th:fragment="formUpsertDialog" class="popup-dialog form-dialog">
    <header>
        <h1>Category Form</h1>
        <a href="javascript:;" class="close-button">
            <i class="fas fa-window-close"></i>
        </a>
    </header>
    <form>
        <table>
            <tbody>
            <input type="hidden" class="id">
            <tr>
                <td>Name*</td>
                <td>
                    <input type="text" class="name">
                    <div class="validation-message" data-for="name"></div>
                </td>
            </tr>
            <tr>
                <td>Price*</td>
                <td>
                    <input type="text" class="price">
                    <div class="validation-message" data-for="price"></div>
                </td>
            </tr>
           <input type="hidden" class="service">
            </tbody>
        </table>
        <button type="submit" class="blue-button">Save Shipment</button>
    </form>
</div>
</body>
</html>