<!DOCTYPE html>
<html lang ="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}"></head>
<body class="authentication-body">
<div class ="authentication-wrapper">
    <header th:replace="~{layout :: account-header}"></header>
    <main>
        <h1>403 Access Denied</h1>
        <p>Role anda tidak memiliki access untuk feature ini, hubungi Management.</p>
        <div>
            <a th:href="@{/}">Kembali ke Landing Page</a>
        </div>
    </main>
</div>
</body>
</html>