<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang ="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}"></head>
<body class="authentication-body">
<div class ="authentication-wrapper">
    <header th:replace="~{layout :: account-header}"></header>
    <main>
        <h1>Login Gagal</h1>
        <p> Username dan Password salah.
            Pastikan Username dan Password benar</p>
        <div>
            <a th:href="@{/account/login-form}">Kembali ke Login</a>
        </div>
    </main>
</div>
</body>
</html>