<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basilisk</title>
    <link rel="icon" type="image/ico" th:href="@{/favicon.ico}">
    <link rel="stylesheet" th:href="@{/resources/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/resources/css/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/resources/css/site.css}">
    <link rel="stylesheet" th:href="@{/resources/css/normalize.css}">
    <script th:src="@{/resources/js/jquery-3.6.0.js}"></script>
</head>
<body>
<div  th:fragment="detailDialog" class="popup-dialog detail-dialog">
    <table>
        <tbody>
        <tr>
            <td>Name</td>
            <td class="name"></td>
        </tr>
        <tr>
            <td>Category</td>
            <td class="category"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td class="description"></td>
        </tr>
        <tr>
            <td>Price</td>
            <td class="price"></td>
        </tr>
        <tr>
            <td>Seller Name</td>
            <td class="sellerName"></td>
        </tr>
        </tbody>
    </table>
    <a href="javascript:;" class="blue-button close-button">Close</a>
</div>
</body>
</html>